* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

body {
  background: #1A0F48;
  text-align: center;
  font-family: "Poppins", "Arial", sans-serif;
  color:whitesmoke;
  overflow: hidden;
}

.overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0  calc(100% - 50px));
}

.overlay span {
  position: relative;
  width: 25px;
  height: 25px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.overlay span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(calc(100vh + 50px)) scale(0); 
  }
  100% {
    transform: translateY(-100vh) scale(1); 
  }
}

.header {
  color: #fff;
  position: relative;
  z-index: 2; 
}

.header .header__wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #000000;
  z-index: 21;
}
.header .header__wrp h1 {
  font-size: 36px;
  margin: 0 0 0 10px;
}
.header .header__wrp button {
  padding: 5px 15px;
  background-color: #a9c2f0;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
}
.header .header__wrp button:hover {
  transition: 0.3s;
  background-color: #80a3e5;
}
.header .header__wrp button:hover:active {
  transition: none;
  background-color: #b3ceff;
}
.header .header__nav {
  position: absolute;
  top: 83px;
  right: 0px;
  width: 280px;
  color: #000000;
  background-color: #a4bce9;
  box-sizing: border-box;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  border: 1px solid #000000;
}
.header .header__nav.active {
  display: block;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.header .header__nav-title {
  text-align: center;
}

.header .header__nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .header__nav-item {
  margin: 8px;
}
.header .header__nav-item a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
.header .main__games-wrp button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
  border: none;
  padding: 20px 10px;
  outline: 1px solid #000;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(300px, 0, 0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 21;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 21;
  }
  to {
    transform: translate3d(300px, 0px, 0);
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.main .main__games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.main__games-wrp {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  min-height: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  margin: 0 0 10px 0;
}

.main__games-wrp i {
  margin-bottom: 10px; 
  
}
.main .main__games-wrp:nth-last-child(1) {
  margin: 0;
}
.main__games-wrp i {
  margin: 0 0 10px 0;
  align-self: center;
  font-size: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  padding: 20px 10px;
  display: inline-block;
}

.main__games-wrp i:hover {
  background-color: #d49139;
  color: #000000;
  outline: 1px solid #000;
  transition: 0.25s;
}

.main__games-wrp i:active {
  background-color: #ffb95f;
  transition: none;
  color: #000000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main .main__rating {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main input[type=range] {
  align-self: center;
  overflow: hidden;
  width: 60%;
  -webkit-appearance: none;
  background-color: #807e78;
  border-radius: 5px;
  outline: 1px solid #000;
  margin: 10px 0;
  -webkit-min-device-pixel-ratio: 0;
  transition: all 0.3s ease-in;
}
.main .main__rating input[type=range]:disabled {
  display: block;
  color: #000;
  background-color: #b35959;
  overflow: hidden;
}
.main input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #0bffde;
  margin-top: -1px;
  border-radius: 5px;
}
.main input[type=range]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #000000;
  box-shadow: -83px 0 0 80px #a7f6ff;
  border-radius: 5px;
}
.main .main__rating button {
  align-self: center;
  padding: 10px;
}
.main .main__current-game {
  width: 100%;
}
.main .main__current-game-wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}
.main .main__current-coin-total {
  display: flex;
  flex-direction: row;
}
.main .main__current-coin {
  width: 25px;
  height: 25px;
  margin: 0 0 0 5px;
  background-color: #3d1515;
  border-radius: 100%;
}

.game .main__current-game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  min-height: 383px;
}
.game .main__current-game-coin {
  width: 300px;
  height: 300px;
  margin: 10px 0 0 0;
  border-radius: 100%;
  background-color: #3d1515;
  outline: 3px solid #3d1515;
  cursor: pointer;
}
.game .miner {
  display: none;
}
.game .game-block {
  display: flex;
  flex-direction: column;
}

.paint {
  display: none;
}

.labirinth {
  display: none;
}
.labirinth h2 {
  margin: 0 0 5px 0;
  font-size: 26px;
}
.labirinth h3 {
  margin: 0 0 5px 0;
  font-size: 24px;
}
.labirinth p {
  margin: 0 0 5px 0;
  font-size: 24px;
}
.labirinth input {
  margin: 0 0 20px;
  box-sizing: border-box;
  outline: none;
  padding: 10px;
  border: none;
  font-size: 22px;
  border-radius: 10px;
  width: 300px;
  align-self: center;
  text-align: center;
}
.labirinth button {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px 13px;
  width: 200px;
  align-self: center;
  border: none;
  margin: 0 0 10px 0;
}
.labirinth button:hover {
  background-color: #4769ff;
  outline: 1px solid #000;
  color: #000000;
  transition: 0.3s;
}
.labirinth button:hover:active {
  background-color: #647ff3;
  transition: none;
}

footer {
  display: flex;
  flex-direction: column;
}
footer .footer__wrp {
  width: 100%;
  background-color: #000;
  padding: 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer .footer__wrp p {
  color: #cfcfcf;
  opacity: 0.6;
  text-align: center;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */