.main {
    display: flex;
    flex-direction: column;

    .main__games {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
    }

    .main__games-wrp {
        display: flex;
        flex-direction: column;
        align-self: center;
        min-height: 20px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #fff;border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 80%;
        margin: 0 0 10px 0;
    }

    .main__games-wrp:nth-last-child(1) {
        margin: 0;
    }

    .main__games-wrp h2 {
        margin: 0 0 10px 0;
        align-self: center;
        font-size: 26px;
    }

    .main__games-wrp button {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        width: 100px;
        align-self: center;
        cursor: pointer;
        font-size: 20px;
        border: none;
        padding: 20px 10px;
    }

    .main__games-wrp button:hover {
        background-color: #d49139;
        color: #000000;
        outline: 1px solid #000;
        transition: .25s;
    }

    .main__games-wrp button:hover:active {
        background-color: #ffb95f;
        transition: none;
        color: #000000;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .main__rating {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    input[type='range'] {
        align-self: center;
        overflow: hidden;
        width: 60%;
        -webkit-appearance: none;
        background-color: #807e78;
        border-radius: 5px;
        outline: 1px solid #000;
        margin: 10px 0;
        -webkit-min-device-pixel-ratio: 0;
        transition: all .3s ease-in;
      }

    .main__rating input[type="range"]:disabled {
        display: block;
        color: #000;
        background-color: #b35959;
        overflow: hidden;
        
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #0bffde;
        margin-top: -1px;
        border-radius: 5px;
      }

      input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #000000;
        box-shadow: -83px 0 0 80px #a7f6ff;
        border-radius: 5px;
      }
  

    .main__rating button {
        align-self: center;
        padding: 10px;
    }

    .main__current-game {
        width: 100%;
    }
    .main__current-game-wrp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px;
    }

    .main__current-coin-total {
        display: flex;
        flex-direction: row;
    }
    .main__current-coin {
        width: 25px;
        height: 25px;
        margin: 0 0 0 5px;
        background-color: #3d1515;
        border-radius: 100%;
    }
}