.game {
    .main__current-game-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        min-height: 383px;
    }
    
    .main__current-game-coin {
        width: 300px;
        height: 300px;
        margin: 10px 0 0 0;
        border-radius: 100%;
        background-color: #3d1515;
        outline: 3px solid #3d1515;
        cursor: pointer;
    }
    
    // .main__current-game-coin:active {
    //     transition: all .1s;
    //     background-color: #a22020;
    //     border: 3px solid #a22020;
    // }

    .miner {
        display: none;
    }

    .game-block {
        display: flex;
        flex-direction: column;
        
    }
}
