.main__current-game {
    width: 100%;
}
.main__current-game-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

.main__current-coin-total {
    display: flex;
    flex-direction: row;
}
.main__current-coin {
    width: 25px;
    height: 25px;
    margin: 0 0 0 5px;
    background-color: #3d1515;
    border-radius: 100%;
}